
/*

!.vimrc
!.globalrc

!.shell.d
!.shell.d/*

!.spacemacs.d/
!.spacemacs.d/**/*

.spacemacs.d/private.el
.spacemacs.d/private.el.backup

!.emacs.d/
!.emacs.d/*

.emacs.d/projectile-bookmarks.eld
.emacs.d/bookmarks

!.bash_profile
!.tmux.conf
!.gitignore
!.zshrc
!.zshenv
!.gdbinit
!.gitconfig
!.i3/
!.i3/*
!.i3/config
!.i3blocks.conf
!.i3status.conf
!.xinitrc
!.Xdefaults
!.Xresources.*
!.Xmodmap

!/.tmuxinator/
!/.tmuxinator/*

!.irssi/
!.irssi/*

tools/*

!/tools/
!/tools/package.json
!/tools/bin/
!/tools/bin/*
!/tools/setup/
!/tools/setup/*
!/tools/setup/udev/
!/tools/setup/udev/*
!/tools/setup/fonts/
!/tools/setup/fonts/*

tools/bin/wtfutil
tools/bin/jira-status
tools/bin/migrate

!./.local/
!./.local/share/
!./.local/share/xfce4/
!./.local/share/xfce4/terminal/
!./.local/share/xfce4/terminal/colorschemes/
!./.local/share/xfce4/terminal/colorschemes/*

!./.ssh/
!./.ssh/config

!.config/
.config/*
!.config/broot/
!.config/i3/

!./.fonts/
!./.fonts/*

tools/bin/hugo
tools/bin/broot

.*.swp
