[user]
	email = jlewallen@gmail.com
	name = Jacob Lewallen

[diff]
	tool = meld

[difftool]
	prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
