*
!.vimrc
!.spacemacs.d/
!.spacemacs.d/**/*
!.bashrc
!.bash_profile
!.tmux.conf
!.gitignore
!.zshrc
!.zshenv
!.gdbinit
!.gitconfig
!.i3/
!.i3/*
!.i3status.conf
!go/
!go/src/
!go/src/github.com/
!go/src/github.com/conservify/
!go/src/github.com/conservify/.gitkeep
!go/src/github.com/jlewallen/
!go/src/github.com/jlewallen/.gitkeep
!tools/
!tools/bin/
!tools/bin/*
!.local/
!.local/share/
!.local/share/xfce4/
!.local/share/xfce4/terminal/
!.local/share/xfce4/terminal/colorschemes/
!.local/share/xfce4/terminal/colorschemes/*
!.ssh/
!.ssh/config
