!! urxvt Appearance
urxvt.font: xft:Terminus:style=Regular:size=12
urxvt.boldFont: xft:Terminus:style=Bold:size=12
urxvt.italicFont: xft:Terminus:style=Italic:size=12
urxvt.boldItalicFont: xft:Terminus:style=Bold Italic:size=12
urxvt.letterSpace: 0

! urxvt.font: xft:DejaVu Sans Mono:pixelsize=13
! urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=13:weight=bold
! urxvt.letterSpace: -1

urxvt.lineSpace: 0
urxvt.internalBorder: 10
urxvt.cursorBlink: true
urxvt.cursorUnderline: false
urxvt.saveline: 2048
urxvt.scrollBar: false
urxvt.scrollBar_right: false
urxvt.urgentOnBell: true
urxvt.depth: 32
urxvt.iso14755: false
urxvt.termName: rxvt-256color
urxvt.saveLines: 1000000

! *.font: xft:Iosevka:style=Regular:size=8
! *.boldFont: xft:Iosevka:style=Bold:size=8
! *.italicFont: xft:Iosevka:style=Italic:size=8
! *.boldItalicFont: xft:Iosevka:style=Bold Italic:size=8

!! Common Keybinds for Navigations
urxvt.keysym.Shift-Up: command:\033]720;1\007
urxvt.keysym.Shift-Down: command:\033]721;1\007
urxvt.keysym.Control-Up: \033[1;5A
urxvt.keysym.Control-Down: \033[1;5B
urxvt.keysym.Control-Right: \033[1;5C
urxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
! urxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
urxvt.copyCommand: xclip -i -selection clipboard
urxvt.pasteCommand: xclip -o -selection clipboard
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-s: perl:keyboard-select:search
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.urlLauncher: firefox
urxvt.underlineURLs: true
urxvt.urlButton: 1

! #include "tools/setup/base16-xresources/xresources/base16-gruvbox-dark-hard-256.Xresources"
#include "tools/setup/base16-xresources/xresources/base16-brewer-256.Xresources"

!urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800

urxvt*transparent: true
urxvt*shading: 10
